* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibri";
  color: white;
  background-color: #050d16;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  color: white;
  background-color: #b39556;
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgba(128, 101, 21, 0.5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  margin: 3rem 0 1rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(220, 220, 220);
}

::-webkit-scrollbar-thumb {
  background: #b39556;
}

/* NAVBAR AND FOOTER */
.navbar {
  color: white;
  background-color: #1d1d1d;
  text-decoration: none;
  padding: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.navbar-margin {
  height: 4rem;
}

.navbar-logo-div {
  position: absolute;
  left: 3rem;
}

.navbar-logo-div img {
  height: 2rem;
}

.navbar-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text-div section {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text-div section h3 {
  color: white;
  padding: 0.2rem 0.5rem 0.2rem;
  transition-duration: 0.3s;
}

.navbar-text-div section h3:hover {
  color: #b39556;
}

.footer {
  color: white;
  background-color: #1d1d1d;
  text-decoration: none;
  padding: 0;
  margin-top: 2rem;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME PAGE */
.home-page-section {
  color: black;
  text-decoration: none;
  background-color: rgba(194, 165, 110, 0.7);
  width: 100vw;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  transition: background-color 0.5s;
}

.home-page-section:hover {
  background-color: rgb(194, 164, 110);
}

/* CHAMPIONS PAGE */
.champions-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.champions-list li {
  width: 200px;
  margin: 3rem;
  background-color: black;
  transition: background-color 0.5s;
}

.champions-list li:hover {
  background-color: rgba(30, 30, 30, 0.76);
  transform: translateY(-5px);
  box-shadow: 0 0 50px rgb(88, 88, 88);
}

.champions-list p {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.champions-list img {
  max-width: 100%;
}

/* ITEMS PAGE */
.items-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.items-list li {
  list-style: none;
  width: 23rem;
  margin: 1rem;
}

.items-box {
  color: black;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(220, 220, 220);
}

.items-box img {
  padding-right: 1rem;
}

.items-box p {
  margin: 0;
  padding: 0.5rem;
}

/* MY BUILDS PAGE */
.mybuilds-buttons-box {
  margin: 2rem 0 2rem;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mybuilds-create-button {
  display: inline-block;
  border: none;
  border-radius: 50%;
  padding: 0.2rem 0.5rem 0.2rem;
  margin: 0 2rem 0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

.mybuilds-hide-button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0.2rem 0.5rem 0.2rem;
  margin: 0 2rem 0;
  height: 1.3rem;
  width: 5rem;
}

.mybuilds-box {
  color: black;
  width: 70vw;
}

.mybuilds-box button {
  border: none;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
}

/* MY BUILDS PAGE - BOX DISPLAY CHAMPION COMPONENT */
.mybuilds-champion-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 5rem;
  background-color: rgb(220, 220, 220);
}

.mybuilds-champion-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}

.mybuilds-champion-main-div section {
  display: flex;
  align-items: center;
}

.mybuilds-champion-main-div button {
  margin-left: 2rem;
}

.mybuilds-champion-main-div img {
  width: 4rem;
  margin-right: 2rem;
}

.mybuilds-champion-main-div section button {
  float: right;
  width: 1.2rem;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT */
.mybuilds-build-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 1rem;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT - MAIN DIV */
.mybuilds-build-main-div {
  display: flex;
  padding: 0 1rem 0 1rem;
}

.mybuilds-build-main-div section {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mybuilds-build-main-div img {
  width: 1.5rem;
  margin: 1rem;
}

.mybuilds-build-title-box {
  width: 10rem;
  font-weight: bold;
  margin-right: 2rem;
}

.mybuilds-build-items-box {
  width: 10rem;
}

.mybuilds-build-ratio-box {
  width: 5rem;
  margin-left: 1rem;
}

.mybuilds-build-delete-box {
  margin: 1rem;
}

.mybuilds-build-check-box button {
  width: 1.2rem;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT - HIDDEN DIV */
.mybuilds-build-hidden-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0;
}

.mybuilds-build-hidden-checkbox {
  display: flex;
  justify-content: center;
  width: 7rem;
}

.mybuilds-build-hidden-checkbox p {
  width: 4rem;
}
