* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Calibri";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAVBAR AND FOOTER */
.navbar {
  color: white;
  text-decoration: none;
  background-color: rgb(30, 30, 30);
  padding: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-margin {
  height: 4rem;
}

.navbar img {
  height: 2rem;
}

.footer {
  color: white;
  text-decoration: none;
  background-color: rgb(30, 30, 30);
  padding: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

/* HOME PAGE */
.home-page-section {
  color: black;
  text-decoration: none;
  background-color: rgba(194, 165, 110, 0.7);
  width: 2000px;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  transition: background-color 0.5s;
}

.home-page-section:hover {
  background-color: rgb(194, 164, 110);
}

/* CHAMPIONS PAGE */
.champions-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.champions-list li {
  width: 200px;
  margin: 3rem;
  background-color: black;
  transition: background-color 0.5s;
  box-shadow: 0 0 10px rgb(88, 88, 88);
}

.champions-list li:hover {
  background-color: rgba(30, 30, 30, 0.76);
  transform: translateY(-5px);
  box-shadow: 0 0 50px rgb(88, 88, 88);
}

.champions-list p {
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.champions-list img {
  max-width: 100%;
}

/* ITEMS PAGE */
.items-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.items-list li {
  list-style: none;
  width: 23rem;
  margin: 1rem;
}

.items-box {
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 8px;
}

.items-box img {
  padding-right: 1rem;
}

.items-box p {
  margin: 0;
  padding: 0.5rem;
}

/* MY BUILDS PAGE */
.mybuilds-new-button {
  display: inline-block;
  cursor: pointer;
  color: white;
  background-color: rgb(110, 84, 16);
  border: none;
  border-radius: 3px;
  padding: 5px;
  margin: 2rem 0 2rem;
  transition-duration: 0.3s;
}

.mybuilds-new-button:hover {
  background-color: rgba(110, 83, 16, 0.473);
}

.mybuilds-box {
  width: 70vw;
}

.mybuilds-box button {
  color: white;
  background-color: rgb(110, 85, 15);
  border: none;
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  transition-duration: 0.3s;
}

.mybuilds-box button:hover {
  background-color: rgba(110, 85, 15, 0.5);
}

/* MY BUILDS PAGE - BOX DISPLAY CHAMPION COMPONENT */
.mybuilds-champion-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 2rem;
}

.mybuilds-champion-main-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  margin-right: 2rem;
}

.mybuilds-champion-main-div img {
  width: 5rem;
}

.mybuilds-champion-button {
  float: right;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT */
.mybuilds-build-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 1rem;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT - MAIN DIV */
.mybuilds-build-main-div {
  display: flex;
  padding: 0 2rem 0 2rem;
}

.mybuilds-build-main-div section {
  display: flex;
  justify-content: left;
  align-items: center;
}

.mybuilds-build-main-div img {
  width: 1.5rem;
  margin: 1rem;
}

.mybuilds-build-title-box {
  width: 10rem;
  font-weight: bold;
  margin-right: 2rem;
}

.mybuilds-build-items-box {
  width: 10rem;
}

.mybuilds-build-ratio-box {
  width: 5rem;
  margin-left: 1rem;
}

.mybuilds-build-delete-box {
  margin: 1rem;
}

.mybuilds-build-check-box button {
  width: 1.2rem;
}

/* MY BUILDS PAGE - BOX DISPLAY BUILD COMPONENT - HIDDEN DIV */
.mybuilds-build-hidden-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0;
}

.mybuilds-build-hidden-checkbox {
  display: flex;
  justify-content: center;
  width: 7rem;
}

.mybuilds-build-hidden-checkbox p {
  width: 4rem;
}
